@import "src/styles/abstracts/variables";
@import "src/styles/base/animations";

.footer {

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    padding-right: 8rem;
    padding-left: 8rem;
    padding-bottom: 10rem;

    position: relative;

    @media only screen and (max-width: $bp-extralg) {
      padding-right: 4rem;
      padding-left: 4rem;
      padding-bottom: 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding-right: 1rem;
      padding-left: 1rem;
      padding-bottom: 2rem;
    }
  }

  &__gif {
    position: absolute;
    top: 33rem;
    left: 50rem;

    @media only screen and (max-width: $bp-extralg) {
      position: absolute;
      left: 40rem; 
    }

    @media only screen and (max-width: $bp-extra) {
      position: absolute;
      left: 33rem; 
    }

    @media only screen and (max-width: $bp-largest) {
      position: absolute;
      left: 28rem;
    }

    @media only screen and (max-width: $bp-large) {
      position: absolute;
      left: 24rem;
    }
  }

  &__logo {
    width: 70%;
    
    @media only screen and (max-width: $bp-largest) {
     width: 60%;
    }

    @media only screen and (max-width: $bp-medium) {
      display: none;
     }

     @media only screen and (max-width: $bp-ipad-pro) {
      display: none;
     }
  }

  &__grid {
    display: block;
    margin-right: 18vw;
    padding-bottom: 5rem;
    align-self: flex-end;

    @media only screen and (max-width: $bp-smallest) {
      margin-right: 16vw;
      padding-bottom: 6rem;
    }

    &-column {
      display: flex;
      padding-bottom: 2rem;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

  }

  &__cta {
    text-decoration: none;

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-progress {
      height: 4px;
      margin-top: 1.5rem;
    }

    &-bar {
      height: 100%;
      background-color: #000;
      opacity: 0;

    }

    &:hover &-bar {
  
      animation: slide-in-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;    
    }

  }

  &__title {
    margin-top: 2.5rem;
    color: $color-black;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 600;
    text-decoration: none;
  }

}

.title {
  font-weight: 400;
}

.heading {
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 5px;
  

  &-sub {
    position: relative;
    margin-top: 5px;
    color: $color-black;
    font-size: 1.6rem;
    list-style: 1.5;
    font-weight: 700;
    text-decoration: none;
    color: $color-secondary;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.4rem;
     }

  }

  &-main {

    font-size: 12rem;
    line-height: 1;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-primary;

    @media only screen and (max-width: $bp-medium) {
      font-size: 9.5rem;
    }

    @media only screen and (max-width: $bp-medium-sm) {
      font-size: 8rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 6rem;
    }
  }

  &-arrow {
    margin-bottom: 0px;
    font-size: 13rem;
    line-height: 1; 
    color: $color-secondary;
    transform: rotateZ(-45deg);

    @media only screen and (max-width: $bp-medium) {
      font-size: 9.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 6rem;
    }

    @media only screen and (max-width: $bp-medium-sm) {
      font-size: 8rem;
    }
  }

}


 