<div class="footer">
  
    <div class="footer__container">
      <div class="footer__grid">
        <div class="footer__grid-column">
          <h6 class="footer__title">Email</h6>
          <h6 class="footer__title title">franlinaresgorria@gmail.com</h6>
        </div>
        <div class="footer__grid-column">
          <a href="https://www.linkedin.com/in/franciscolinaresgorria/" target="_blank" class="footer__title">Linkedin</a>

          <a href="https://github.com/franlinares" target="_blank" class="footer__title">Github</a>
        </div>
        <div class="footer__grid-column">
          <a href="#" class="footer__title">Interests</a>
        </div>
      </div>

      <div class="heading">
        <h6 class="heading-sub">Got a project in mind</h6>
      </div>

      <a href="mailto:franlinaresgorria@gmail.com?subject=Thanks%20for%20getting%20in%20touch!" class="footer__cta">

        <div class="footer__cta-wrapper">
          <h1 class="heading-main">Let's talk</h1>
          <h1 class="heading-arrow"><i class="fas fa-arrow-right"></i></h1> 
        </div>

        <div class="footer__cta-progress">
          <div class="footer__cta-bar">

          </div>
        </div>

      </a>
    </div>
  
</div>
