@import "src/styles/abstracts/variables";

.about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &__text {
    width: 65rem;
    height: 55rem;
  }

  &__skills {
    width: 35rem;
    height: 55rem;  
  }

  &__list {
    display: flex;
    list-style: none; 
  }

  &__item {

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}

////// TEXTS

.heading-primary {
  font-size: 5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-primary;
}

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
  // text-transform: uppercase;
  color: $color-secondary;
}

.paragraph {
  // width: 60%;
  font-size: 1.6rem;
  line-height: 3.5rem;
}

///// PHOTO

.photo {
  display: flex;
  align-self: flex-start;
  margin-top: 7rem;
 
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 30rem;
  width: 25rem;

  &__side {
    
    height: 30rem;
    width: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    // overflow: hidden;
    

    &--front {
      background-color: transparent;
    }
  
    &--back {
      // background-color: green;
      transform: rotateY(180deg);
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    
  
    &--1 {
      box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
      background-image: url('../../../assets/img/fran.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    &--2 {
      width: 30rem;
      height: 30rem;
      border-radius: 50%;
      box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
      background-image: url('../../../assets/img/Fran2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

}



