
<div class="about">

  <!-- <div class="about__photo">
    <img src="../../../assets//img/fran.jpg" alt="" >
  </div> -->
  <img src="../../../assets//img/fran.jpg" alt="" class="about__photo">

  <div class="about__text">
    <h1 class="heading-primary">Who am i?</h1>
    <h3 class="heading-secondary">A few words about me.</h3>
    <p class="paragraph">I'm Fran Linares a front-end developer and content creator. After 
      several years working in the creation of audiovisual content 
      for companies and agencies, more than a year ago I decided to study programming and 
      develop my creativity in a sector that had always interested me.
    </p>
    <br>
    <p class="paragraph">To become a better programmer, I made the decision to expand my 
      knowledge of web development and signed up for a full-stack bootcamp to learn new 
      technologies as Angular and Node.js. 
    </p>
    <br>
    <p class="paragraph">I am a person who always seeks to improve himself and be in 
      continuous learning.
    </p>
    <br>
    <p class="paragraph">Currently, I am open to new projects where I can contribute with my 
      knowledge and continue developing as a Front-end developer. 
    </p>
  </div>

  <!-- <img src="../../../assets//img/fran.jpg" alt="" class="about__photo"> -->

  <div class="about__skills">
    <h1 class="heading-primary">My skills</h1>
    <h3 class="heading-secondary">What I am best at.</h3>
    <ul class="about__list">
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/javascript.png"/></li>
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/angularjs.png"/></li>
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/vue-js.png"/></li>
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/nodejs.png"/></li>
    </ul>
    <ul class="about__list">
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/html-5.png"/></li>
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/css3.png"/></li>
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/bootstrap.png"/></li>
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/sass.png"/></li>
    </ul>
    <ul class="about__list">
      <li class="about__item"><img src="https://img.icons8.com/ios-filled/50/000000/jquery.png"/></li>
      <li class="about__item"><img src="https://img.icons8.com/ios/50/000000/mysql-logo.png"/></li>
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/git.png"/></li>
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/adobe-xd.png"/></li>
    </ul>
    <ul class="about__list">
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/adobe-premiere-pro.png"/></li>
      <li class="about__item"><img src="https://img.icons8.com/color/48/000000/adobe-after-effects.png"/></li>
    </ul>
  </div>

</div>