
<div class="footer animated fadeIn">

  <div class="footer__cta">
    <h1 class="heading">Let's work together!</h1>
    <a href="mailto:franlinaresgorria@gmail.com?subject=Thanks%20for%20getting%20in%20touch!" class="heading--mail" ><p>franlinaresgorria@gmail.com</p></a>
    <div class="footer__social">
      <a href="https://www.linkedin.com/in/franciscolinaresgorria/?locale=en_US" target="_blank" class="footer__link"><i class="fab fa-linkedin-in"></i></a> 
      <a href="https://github.com/franlinares" target="_blank" class="footer__link"><i class="fab fa-github"></i></a> 
    </div>
    
  </div>

  <div class="footer__copyright">
    <p class="footer__copyright--main">Designed and developed by Francisco Linares 2020. &copy;</p>
  </div>

</div>