

<div class="navigation">

  <div class="back__box">
    <a routerLink="/home" class="back__logo"><i class="fas fa-circle"></i></a> 
  </div>

  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a routerLink="/about" target="_top" class="navigation__link">About</a></li> 
      <li class="navigation__item"><a routerLink="/development" target="_top" class="navigation__link">Projects</a></li>
      <li class="navigation__item"><a routerLink="/contact" target="_top" class="navigation__link">Contact</a></li>   
    </ul>
  </nav>
</div>
