$color-primary: #00618A;

$color-secondary: #E48E00;

$color-base: #F8F8F8;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$bp-extralg: 100em;          //1600px
$bp-extra:87.5em;           //1400px
$bp-largest: 75em;          // 1200px
$bp-large: 68.75em;         //1100px
$bp-ipad-pro: 64em;         // 1024px
$bp-medium:56.25em;        // 900px / 16 = 56.25
$bp-medium-sm:43.75em;     // 700px
$bp-small:37.5em;          //600px
$bp-smallest:31.25em;     //500px
$bp-extra-small:21.88em;  // 300px
