
<div class="intro">

  <div class="intro__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Hello! <img src="https://raw.githubusercontent.com/MartinHeinz/MartinHeinz/master/wave.gif" class="heading-logo"></span>
      <span class="heading-primary--sub">I'm Fran Linares a front-end developer and content creator based in Barcelona.</span>
    </h1>

    <a href="" class="heading-secondary">View my projects</a>

    <div class="intro__icons">
      <a href="https://www.linkedin.com/in/franciscolinaresgorria/?locale=en_US" target="_blank" class="intro__link"><i class="fab fa-linkedin-in"></i></a> 
      <a href="https://github.com/franlinares" target="_blank" class="intro__link"><i class="fab fa-github"></i></a> 
    </div>
  </div>
  
</div>

