<app-loading *ngIf="searching"></app-loading>

<div class="wrap animated fadeIn">
  <div class="tile" *ngFor="let project of projects"> 
    <!-- <img src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80'/>  -->
    <img [src]='project.img'/>
    <div class="text">
      <h1 class="animate-text">{{project.name}}</h1>
      <h2 class="animate-text">Technologies: {{project.tech}}</h2>
      <p class="animate-text"> {{project.type}} </p>
    </div>  
    <div class="dots">
      <a [href]='project.url' target="_blank" class="link"><i class="fas fa-desktop"></i></a>
      <a [href]='project.github' target="_blank" class="link"><i class="fab fa-github-square"></i></a>
    </div>
  </div>
</div>

 




