<div class="wrap">
  <div class="tile"> 
    <!-- <img src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80'/> -->
    <img src='../../../../assets/img-projects/mac-2.jpg'/>
    <div class="text">
    <h1 class="animate-text">Trillo</h1>
    <h2 class="animate-text">Technologies</h2>
    <p class="animate-text">Bacon ipsum dolor amet pork belly tri-tip turducken, pancetta bresaola pork chicken meatloaf. Flank sirloin strip steak prosciutto kevin turducken. </p>
    <div class="dots">
      <a href="" class="link"><i class="fas fa-desktop"></i></a>
      <a href="" class="link"><i class="fab fa-github-square"></i></a>
    </div>
  </div>
</div>
