<div class="wrap">
  <div class="tile" *ngFor="let project of projects"> 
    <!-- <img src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80'/>  -->
    <img [src]='project.img'/>
    <div class="text">
      <h1 class="animate-text">{{project.name}}</h1>
      <h2 class="animate-text">Technologies: {{project.tech}}</h2>
      <p class="animate-text"> {{project.type}} </p>
    </div>  
    <div class="dots">
      <a [href]='project.url' target="_blank" class="link"><i class="fas fa-desktop"></i></a>
      <a [href]='project.github' target="_blank" class="link"><i class="fab fa-github-square"></i></a>
    </div>
  </div>
</div>

<!-- <div class="wrap animated fadeIn">

  <div class="tile"> 
    <img src='../../../../assets/img-projects/koiki F1F1F1.png'/>
    <div class="text">
      <h1 class="animate-text">Koiki</h1>
      <h2 class="animate-text">Technologies: ANGULAR, TYPESCRIPT, HTML, CSS, BOOTSTRAP, SASS</h2>
      <p class="animate-text">Project carried out for the sustainable transport company Koiki </p>
    </div>  
    <div class="dots">
      <a href="*" class="link"><i class="fas fa-desktop"></i></a>
      <a href="https://github.com/franlinares/Koiki-web-front"  target="_blank" class="link"><i class="fab fa-github-square"></i></a>
    </div>
  </div>

  <div class="tile"> 
    <img src='../../../../assets/img-projects/trillof1f1f1.png'/>
    <div class="text">
      <h1 class="animate-text">Trillo</h1>
      <h2 class="animate-text">Technologies: HTML, CSS, SASS</h2>
      <p class="animate-text">This is a project where I show my skills with HTML, CSS and SASS. </p>
    </div>  
    <div class="dots">
      <a href="https://franlinares.github.io/trillo/" target="_blank" class="link"><i class="fas fa-desktop"></i></a>
      <a href="https://github.com/franlinares/trillo" target="_blank" class="link"><i class="fab fa-github-square"></i></a>
    </div>
  </div>

  <div class="tile"> 
    <img src='../../../../assets/img-projects/outdoors f1f1f1.png'/>
    <div class="text">
      <h1 class="animate-text">Natours</h1>
      <h2 class="animate-text">Technologies: HTML, CSS, SASS</h2>
      <p class="animate-text">This is a project where I show my skills with HTML, CSS and SASS. </p>
    </div>  
    <div class="dots">
      <a href="https://franlinares.github.io/advanced-css-natours/" target="_blank" class="link"><i class="fas fa-desktop"></i></a>
      <a href="https://github.com/franlinares/advanced-css-natours" target="_blank" class="link"><i class="fab fa-github-square"></i></a>
    </div>
  </div>

  <div class="tile"> 
    <img src='../../../../assets/img-projects/mizuxe f1f1f1.png'/>
    <div class="text">
      <h1 class="animate-text">Mizuxe</h1>
      <h2 class="animate-text">Technologies: HTML, BOOTSTRAP, SASS</h2>
      <p class="animate-text">This is a project where I show my skills with BOOTSTRAP and SASS. </p>
    </div>  
    <div class="dots">
      <a href="https://franlinares.github.io/Mizuxe-web/" target="_blank" class="link"><i class="fas fa-desktop"></i></a>
      <a href="https://github.com/franlinares/Mizuxe-web" target="_blank" class="link"><i class="fab fa-github-square"></i></a>
    </div>
  </div>

</div>

 -->




